extends layout

block content
	h1= title
	p This is a list of objects (primarily asteroids), ordered by day, that will make near-Earth passes inside the next week.
	table(id='neoTable')
		tr(id='topRow')
			td(colspan='10')
