body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #333;
  color: #CCC;
}

a {
  color: #00B7FF;
}

td {
	padding:5px 15px;
}

.red {
	color:#DD0000;
}

.green {
	color:#00AA00;
}

.yellow {
	color:#CCCC00;
}

.container {
	width: 80%;
	margin: 0 auto;
	min-width: 300px;
}

.buttonContainer {
	padding-top: 25px;
	text-align: center;
}

.buttonContainer button {
	padding: 4px 10px;
	margin: 0 25px;
}